@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    font-family: Source Sans Pro, sans-serif;
}

body {
    align-items: center;
    background: linear-gradient(217deg, rgba(151, 255, 198, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(4, 206, 241, 0.87), rgba(0, 255, 0, 0.034) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 241, 0.8), rgba(0,0,255,0) 70.71%); 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    background-image: url("/images/background.jpg");
    border-radius: 50%;
    color: wheat;
    height: 30rem;
    position: relative;
    width: 30rem;
}

.clock .number {
    --rotation: 0;
    font-size: 40px;
    height: 100%;
    position: absolute;
    text-align: center;
    transform: rotate(var(--rotation));
    width: 100%;
}

.clock .number1 { --rotation: 30deg;}
.clock .number2 { --rotation: 60deg;}
.clock .number3 { --rotation: 90deg;}
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}

.clock .hand {
    --rotation: 0;
    border: 1px solid gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
}

.clock::after {
    background-color: wheat;
    border: 1px solid gold;
    border-radius: 50%;
    content: '';
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 10;
}

.clock .hand.second {
    background-color: purple;
    border: none;
    height: 40%;
    width: 3px;
}

.clock .hand.minute {
    background-color: wheat;
    height: 40%;
    width: 6px;
}

.clock .hand.hour {
    background-color: wheat;
    height: 30%;
    width: 12px;
}